body{
    background-color: #727D2C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.title{
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
    color: white;
    margin: 0;
}

.title h3{
    margin: 0;
}

.content p{
    margin: 0;
}

.content button{
    margin-top: 25px;
    padding: 5px 30px;
    border-radius: 10px;
    border: 3px solid rgb(33, 1, 1);
    background-color: white;
    cursor: pointer;
    margin-bottom: 25px;
}

.content button a{
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(33, 1, 1);
    font-weight: bold;
}

