body{
    background-color: #899729;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.title{
    font-family: "Darumadrop One", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    font-style: normal;
    color: white;
    margin: 0;
    text-shadow: 3px 4px 0px #3c0d03;
}

.title h2{
    margin: 0;
    line-height: 1;
}

.content p{
    font-size: 1rem;
    margin: 0;
    font-family: "Playpen Sans Deva", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #fff5f1;
}

.content button{
    margin-top: 40px;
    padding: 0px 50px;
    border-radius: 10px;
    border: 3px solid #2D0B03;
    background-color: #471305;
    cursor: pointer;
    margin-bottom: 25px;
}

.content button a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #ffffff;
    font-family: "Playpen Sans Deva", sans-serif;
    font-weight: 600;
}

.content button:hover{
    transform: rotate(-3deg);
    background-color: #2D0B03;;
}

body.welcomePage{
    margin: 0;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcomeBackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: -1;
    background-color: black;
    background-repeat: no-repeat;
}

.backgroundImg{
    width: 100%;
    height: auto;
}

.welcomeText{
    font-size: 1.6rem;
    position: absolute;
    text-align: left;
    top: 10%;
    right: 8%;
    font-family: "Playpen Sans Deva", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #fff5f1;
    line-height: 1.5;
}

#playButton {
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 20px;
    background-color: #471305;
    width: 60px;
    height: 60px;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    color: #fff8e6;
    font-size: 30px;
    border-radius: 10px;
}

.namePopUp{
    width: 350px;
    background: #8c5831;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 25px 8px;
    transform: translate(-50%, -50%) scale(0.1);
    border: 3px solid #52251b;
    text-align: center;
    visibility: hidden;
    transition: transform 0.4s;
    z-index: 999;
}

.openPopUp{
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 998;
}

.namePopUp h3{
    margin: 0;
    line-height: 1;
    font-size: 1.2rem;
    font-family: "Playpen Sans Deva", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #fff5f1;
    text-align: left;
    padding-left: 42px;
}

input{
    font-size: 1rem;
    font-family: "Playpen Sans Deva", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #fff5f1;
    color: #2D0B03;
    border-radius: 5px;
    width: 260px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.namePopUp button{
    display: inline-block;
    padding: 0px 30px;
    border-radius: 10px;
    border: 3px solid #2D0B03;
    background-color: #471305;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    font-family: "Playpen Sans Deva", sans-serif;
    font-weight: 600;
}

.namePopUp button:hover{
    transform: rotate(-3deg);
    background-color: #000000;;
}

@media (max-width: 1030px) {
    .welcomeText {
        font-size: 1rem;
        top: 31%;
        right: 7%;
    }
}

@media (max-width: 550px) {
    .welcomeText {
        font-size: 0.6rem;
        top: 40%;
        right: 5%;
    }
}

@media (max-width: 400px) {
    .welcomeText {
        font-size: 0.6rem;
        top: 37.5%;
        right: 5%;
    }
}

@media (max-width: 350px) {
    .welcomeText {
        font-size: 0.5rem;
        top: 40%;
        right: 5%;
    }
}

@media (max-height: 550px) {
    .welcomeText {
        font-size: 0.6rem;
        top: 27%;
        right: 2%;
    }
}